
#contact{
  font-size:40px;
  text-align:center;
  margin-top:50px;
  padding:50px;
  text-shadow:2px 2px 2px rgb(137, 137, 148);
  margin:0 auto;

}

.contact{
  height:500px;

}

.contact__mail{
  text-align: center;
  justify-content: center;

}


.contact__button{
  background-color:skyblue;
  cursor: pointer;
  width:120px;
  font-size:20px;
  box-shadow:3px 3px rgb(158, 143, 143);
  border-radius:4px;
  padding:5px 10px;
  margin:10px auto;

}

.contact__button:active{
  position: relative;
  top:3px;
  box-shadow:none;
}