
footer{
  background-color: skyblue;
  height:100px;
  text-align:center;
  padding-top:20px;
  padding-bottom:20px;
 
}
.footer__ul li{
  list-style:none;
  display:flex;
  display: inline;
  padding: 20px;
  
}
.footer__ul{
  padding-left:0;
}

footer p{
  margin-top:20px;
  opacity:.7;
  font-size:10px;
}

.far {
  margin-right:10px;
}
.fas {
  margin-right:10px;
}
