

.life{
  background-image: url(https://github.com/m0700045/masa/blob/master/%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%83%E3%83%88%202020-09-15%2019.01.57.png?raw=true);
  background-size: cover;
  opacity: 0.4;
  animation: popup 5s forwards;
  z-index: -4;
  background-attachment: fixed;
  padding-left:0;
  height:1200px;
  width:100%;
  
}

.life h1{
  font-size:40px;
  text-align:center;
  margin:0;
  padding:50px;
  text-shadow:2px 2px 2px rgb(137, 137, 148)
}

.life__display{
  list-style: none;
  margin:0 auto;
  width:600px;
  padding:10px;
}

.life__display span{
  font-weight: bold;
}

.life__button{
  text-align: center;
}


.life__day{
  border-bottom:1px solid rgba(242, 236, 236, 0.681);
  margin:0 auto;
  list-style-type: none;
  width:90%;

}

.life__text{
  padding:30px;
  width:80%; 
  margin:0 auto;
}

#life__open{
  text-align: center;
  padding:5px;
  border: 2px solid black;
  width: 70px;
  margin:10px auto;
  background-color: rgb(255, 255, 255, .6);
  box-shadow:1px 1px black;
  border-radius:4px;

}

#life__close{
  text-align: center;
  padding:5px;
  border: 2px solid black;
  width: 70px;
  margin:10px auto;
  background-color: rgb(255, 255, 255, .6);
  box-shadow:1px 1px black;
  border-radius:4px;
 
}
#life__open:hover{
  opacity: .9;
  cursor: pointer;
}
#life__close:hover{
  opacity: .9;
  cursor: pointer;
}

#life__mask{
  background-color: gray;
  position: fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  z-index: 8;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}

#life__hidden{
  width:600px;
  height:1000px;
  background:skyblue;
  justify-content: center;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top:2160px;
  right:0;
  left:0;
  margin:0 auto;
  border-radius: 20px;
  transition: opacity .6s;
  padding:10px;
}

#life__hidden span{
  font-weight: bold;
}

#life__mask.life__show{
  opacity: .5;
  pointer-events: auto;
}
#life__hidden.life__show{
 opacity: 1;
 pointer-events: auto;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */


@media (max-width: 600px){

  .life{
    width:100%;
    border: 2px solid black;
    height: 1500px;
    
  }
  
  .life__display{
    border-top: 2px solid black;
    overflow:scroll;
    width: 80%;
  }
  
  .life__display p{
    width:90%;
  }
  
  .kife__text{
  padding-top:10px;
  padding-bottom:10px;
  }
  
  #life__hidden{
    width:300px;
    position: absolute;
    top:2950px;
    right:0;
    left:0;
    margin: 0 auto;
    overflow:scroll;
    padding-left:20px;
  }
  
  }