body{
  margin:0;
  padding:0;
  width:100%;
}
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */




header {
  
  height:40px;
  width:100%;
  z-index:8;
  margin: 0 auto;
  display: flex;
  position: relative;
  
}

.header p{
  display:none;
}

.header__link{
  text-align:center;
  padding-left:0;
  margin:8px 0;
}

.header__link li{
  display: inline;
  padding: 20px;
 
}

.header{
  margin-left: auto;
  width:100%;
  position:fixed;
  top:0;
  background-color: whitesmoke;
  opacity: 0.9;
}

.sp__menu{
  z-index: 9;
  position: absolute;
  top:1px;
  right:1px;
  cursor: pointer;
  display:none;

}

.sp__menu #open.hide{
  display:none;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */


@media (max-width: 600px){

  .header__link a{
    display:none;
  }


.header__link li{
  display: inline;
  padding: 10px;
}

.header p{
  display:block;
  float: left;
  margin:8px;
 
}

.sp__menu{
  display:block;
}
}
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */





.navi{
  width:250px;
   z-index: 10;
   position:fixed;
   top:0;
   bottom:0;
   right:0;
   left:auto;
   background:rgb(243, 243, 243 ,.95);
   opacity: 0;
   pointer-events: none;
   transition:opacity .6s;
   
 }
 
 .navi ul{
   list-style-type: none;
   padding:0;
   display:flex;
   justify-content: center;
   flex-direction: column;
 }
 
 .navi li{
   margin:15px auto;
   cursor: pointer;
   opacity: 0;
   transform:translateY(16px);
   transition: opacity .3s , transform.3s;
 }
 
 .navi.show{
   opacity: 1;
   pointer-events: auto;
   transform:none;
 }
 
 .navi.show li{
   transform:none;
   opacity: 1;
 }
 
 .navi.show li:nth-child(1){
   transition-delay:.1s;
 }
 .navi.show li:nth-child(2){
   transition-delay:.2s;
 }
 .navi.show li:nth-child(3){
   transition-delay:.3s;
 }
 .navi.show li:nth-child(4){
   transition-delay:.4s;
 }
 .navi.show li:nth-child(5){
   transition-delay:.5s;
 }
 
 
 .navi.hide__navi{
   opacity: 0;
   pointer-events: none;
 }
 
 #close{
   position:fixed;
   top:2px;
   bottom:0;
   left: auto;
   right:5px;
   cursor: pointer;
 }
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */




 .top {
  background-image: url(https://github.com/m0700045/masa/blob/master/img/%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%83%E3%83%88%202020-09-15%2018.40.32.png?raw=true);
  background-size: cover;
  background-position: center;
  height:800px;
  opacity: .8;
  /* animation: popup 3s forwards; */
  z-index: -3;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color:#fff;
  flex-direction: column; 
}


.top__title h1{
  font-size:60px;
  font-weight: bold;
}

.top__title p{
  font-size: 40px;

}

.top__animation span:nth-of-type(odd){
  animation: showTextTop 2s backwards;
  display: inline-block;
}

.top__animation span:nth-of-type(even){
  animation: showTextBottom 2s backwards;
  display: inline-block;
}


@keyframes showTextBottom{
  0%{
    opacity: 1;
    
  }
  5%{
    opacity: 0;
    transform: translateY(30%);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes showTextTop{
  0%{
    opacity: 1;
    
  }
  5%{
    opacity: 0;
    transform: translateY(-3%);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
  } 
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

@media (max-width: 600px){

  .top{
    height:600px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .top__title h1{
    font-size: 30px;
  }

  .top__title p{
    font-size: 20px;
  }
}
  /* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */





main{
  
  height:400px;
 
}

.container__profile{
  line-height:100px;
  text-align:center;
  text-shadow:2px 2px 2px rgb(137, 137, 148)

}


.container__box{
  justify-content: center;
  align-items: center;
  display:flex;
 
}

.container__img img {
  border-radius:50%;
 }

.container__table th{
 padding-left:50px;
 padding-right:30px;
 padding-top:5px;
}

.container__table{
  overflow: hidden;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

@media (max-width: 600px){

  main{
    height:600px;
   
  }
  
  
  .container__profile{
    margin:50px;
  }
  
  .container__img{
    margin:0 auto 50px;
  
  
  }
  .container__box{
    flex-direction: column;
    justify-content: center;
    display:flex;
  }
  
  .container__table{
    justify-content: center;
    display:flex;
    font-size: 13px;
  }
  
  
  .container__table th{
    padding-left:0px;
    padding-right:0px;
    
  }
}
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */




.hobby h1{
  font-size:40px;
  text-align:center;
  margin:0;
  padding:50px;
  text-shadow:2px 2px 2px rgb(137, 137, 148)
}

.hobby{
  height:850px;
  width:100%;
  justify-content: center;
  background-color:rgba(56, 182, 231, 0.6);
  
}

.hobby__box{
  display:block;
  display:flex;
  margin:0px auto;
  width:600px;
  justify-content: space-between;
  overflow: hidden;
}


.hobby__minibox h2{
  text-align:center;
  width:250px;
}

#p1{
  display:none;
}

#p2{
  margin-right:20px;
}


.hobby__display{
  width:600px;
  padding:0;
  margin:50px auto;
}

.hobby__button{
  text-align: center;
}


.hobby span{
  font-weight: bold;
}


#hobby__open{
  padding:5px;
  border: 2px solid black;
  width: 70px;
  margin:10px;
  background-color: rgb(255, 255, 255, .6);
  box-shadow:1px 1px black;
  border-radius:4px;

}  
#hobby__open:hover{
  cursor: pointer;
  opacity: .4;
}  

#hobby__close:hover{
  cursor: pointer;
  opacity: .4;
}  

#hobby__close{
  
  padding:5px;
  border: 2px solid black;
  width: 70px;
  margin:10px auto;
  background-color: rgb(255, 255, 255, .6);
  box-shadow:1px 1px black;
  border-radius:4px;

  
}  

#hobby__mask{
  z-index: 6;
  background: gray;
  position: fixed;
  top:0;
  bottom:0;
  left: 0;
  right:0;
  opacity: 0;
  transition: opacity .6s;
  pointer-events: none;
}  

#hobby__hidden{
  margin:30px auto;
  padding-left:0;
  width:700px;
  z-index: 7;
  background-color: white;
  height:300px;
  position: absolute;
  top:1700px;
  right:0;
  left:0;
  margin: 0 auto;
  padding:20px;
  border-radius: 20px;
  opacity: 0;
  transition: opacity .6s;
  pointer-events: none;
}  


#hobby__hidden li{
  list-style-type: none;
}


.hobby img{
  border-radius:30px;
}

.hobby p{
  align-self: center;
  width:250p
}
#hobby__hidden.hobby__show{
  opacity: 1;
  pointer-events: auto;
}
#hobby__mask.hobby__show{
  opacity: .5;
  pointer-events: auto;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */

@media (max-width: 600px){

  .hobby{
    height:1400px;
    
    
  }
  
  #p1{
    display:block;
    margin-top:20px;
  }
  
  
  #p2{
    display:none;
  }
  
  #hobby__hidden{
    
    width:300px;
    position: absolute;
    top:2200px;
    right:0;
    left:0;
    margin: 0 auto;
    overflow:scroll;
    padding-left:20px;
  }
  
  .hobby__box{
    width:250px;
    flex-direction: column;
  }
  
  .hobby__display{
    width:300px;
  }
  
  
  #hobby__hidden{
    width:250px;
    height:300px;
    overflow: scroll;
    border: 4px solid skyblue;
    padding:15px;
  }
  
}
  /* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */







.life.life__show{
  background-image: url(https://github.com/m0700045/masa/blob/master/img/%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%83%E3%83%88%202020-09-15%2019.01.57.png?raw=true);
  background-size: cover;
  opacity: 0;
  animation: popup 2s forwards;
  z-index: -4;
  background-attachment: fixed;
  padding-left:0;
  height:1200px;
  width:100%;
  
}


@keyframes popup{
  0%{
    opacity: 0;
    animation-timing-function: cubic-bezier(0.07, 0.2, 0.93, 0.71);
  }
  100%{
    opacity: 0.8;
  } 
} 

.life h1{
  font-size:40px;
  text-align:center;
  margin:0;
  padding:50px;
  text-shadow:2px 2px 2px rgb(137, 137, 148)
}

.life__display{
  list-style: none;
  margin:0 auto;
  width:600px;
  padding:10px;
}

.life__display span{
  font-weight: bold;
}

.life__button{
  text-align: center;
}


.life__day{
  border-bottom:1px solid rgba(242, 236, 236, 0.681);
  margin:0 auto;
  list-style-type: none;
  width:90%;

}

.life__text{
  padding:30px;
  width:80%; 
  margin:0 auto;
}

#life__open{
  text-align: center;
  padding:5px;
  border: 2px solid black;
  width: 70px;
  margin:10px auto;
  background-color: rgb(255, 255, 255, .6);
  box-shadow:1px 1px black;
  border-radius:4px;

}

#life__close{
  text-align: center;
  padding:5px;
  border: 2px solid black;
  width: 70px;
  margin:10px auto;
  background-color: rgb(255, 255, 255, .6);
  box-shadow:1px 1px black;
  border-radius:4px;
 
}
#life__open:hover{
  opacity: .9;
  cursor: pointer;
}
#life__close:hover{
  opacity: .9;
  cursor: pointer;
}

#life__mask{
  background-color: gray;
  position: fixed;
  top:0;
  bottom:0;
  right:0;
  left:0;
  z-index: 8;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}

#life__hidden{
  width:600px;
  height:1000px;
  background:skyblue;
  justify-content: center;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top:2160px;
  right:0;
  left:0;
  margin:0 auto;
  border-radius: 20px;
  transition: opacity .6s;
  padding:10px;
}

#life__hidden span{
  font-weight: bold;
}

#life__mask.life__show{
  opacity: .5;
  pointer-events: auto;
}
#life__hidden.life__show{
 opacity: 1;
 pointer-events: auto;
}

/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */


@media (max-width: 600px){

  .life{
    width:100%;
    border: 2px solid black;
    height: 1500px;
    
  }
  
  .life__display{
    border-top: 2px solid black;
    overflow:scroll;
    width: 80%;
  }
  
  .life__display p{
    width:90%;
  }
  
  .kife__text{
  padding-top:10px;
  padding-bottom:10px;
  }
  
  #life__hidden{
    width:300px;
    position: absolute;
    top:2950px;
    right:0;
    left:0;
    margin: 0 auto;
    overflow:scroll;
    padding-left:20px;
  }
  
}
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */




.portfolio{
  height:800px;
  width: 300px;
  margin:0 auto;
}

.portfolio__title{
font-size:40px;
text-align:center;
margin-top:50px;
padding:50px;
text-shadow:2px 2px 2px rgb(137, 137, 148)
}


.portfolio img{
border:1px solid #000
}

.portfolio__img{
  width:300px;
  text-align:center;
}

.portfolio__p{
margin-top:0;
margin-bottom:50px;
}

.portfolio__element:nth-of-type(odd) img{
  transform: translate(50px, 0);
  transition: 1s;
  opacity: 0;
}

.portfolio__element:nth-of-type(even) img{
  transform: translate(-50px, 0);
  transition: 1s;
  opacity: 0;
}

.portfolio__element p{
  transform: translate(0, 50px);
  transition: 1s .7s;
  opacity: 0;
}

.portfolio__element.portfolio__show img,
.portfolio__element.portfolio__show p{
  opacity: 1;
  transform: none;
}
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */





#contact{
  font-size:40px;
  text-align:center;
  margin-top:50px;
  padding:50px;
  text-shadow:2px 2px 2px rgb(137, 137, 148);
  margin:0 auto;

}

.contact{
  height:500px;

}

.contact__mail{
  text-align: center;
  justify-content: center;

}


.contact__button{
  background-color:skyblue;
  cursor: pointer;
  width:120px;
  font-size:20px;
  box-shadow:3px 3px rgb(158, 143, 143);
  border-radius:4px;
  padding:5px 10px;
  margin:10px auto;

}

.contact__button:active{
  position: relative;
  top:3px;
  box-shadow:none;
}
/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝ */





footer{
  background-color: skyblue;
  height:100px;
  text-align:center;
  padding-top:20px;
  padding-bottom:20px;
 
}
.footer__ul li{
  list-style:none;
  display:flex;
  display: inline;
  padding: 20px;
  
}
.footer__ul{
  padding-left:0;
}

footer p{
  margin-top:20px;
  opacity:.7;
  font-size:10px;
}

.far {
  margin-right:10px;
}
.fas {
  margin-right:10px;
}
