@media (max-width: 600px){
body{
  width:;

 
}
.header__link li{
  display: inline;
  padding: 10px;
}
.top{
  height:400px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.top h1{
  font-size:30px;

}

.top p{
  font-size:20px;
}

main{
  height:600px;
 
}


.container__profile{
margin:50px;
}

.container__img{
margin:0 auto 50px;


}
.container__box{
  flex-direction: column;
  justify-content: center;
  display:flex;
}

.container__table{
  justify-content: center;
  display:flex;
}


.container__table th{
  padding-left:0px;
  padding-right:0px;
  
 
}

.life{
  height:1600px;
}
.life li{
  font-size:15px;
}
}
