body{
  margin:0;
  padding:0;
  width:100%;
}

.header__link {
  background-color: whitesmoke;
  height:40px;
  width:100%;
  position:fixed;
  top:0;
  z-index:10;
  opacity: 0.7;
  margin: 0 auto;
  text-align:center;
  padding-left:0;
  padding-top:10px;
  
}

.header__link li{
  display: inline;
  padding: 20px;
}

.top {
background-image: url(https://github.com/m0700045/masa/blob/master/%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%83%E3%83%88%202020-09-15%2018.40.32.png?raw=true);
background-size: cover;

height:800px;
opacity: 0.8;
animation: popup 5s forwards;
z-index: -3;
background-attachment: fixed;
display: flex;
align-items: center;
justify-content: center;
color:#fff;
flex-direction: column; 

}

@keyframes popup{
  0%{
    opacity: 0;
    animation-timing-function: cubic-bezier(0.07, 0.2, 0.93, 0.71);
  }
  100%{
    opacity: 0.8;
  }
}

.top__title{
  font-size:30px;
  font-weight: bold;
}



main{
  
  height:400px;
 
}

.container__profile{
  line-height:100px;
  text-align:center;
  text-shadow:2px 2px 2px rgb(137, 137, 148)

}


.container__box{
  justify-content: center;
  display:flex;
 
}

.container__img img {
  border-radius:50%;
 }

.container__table th{
 padding-left:50px;
 padding-right:30px;

}

section{
  
  padding-left:0;
  
}

.life{
  background-image: url(https://github.com/m0700045/masa/blob/master/%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%83%E3%83%88%202020-09-15%2018.41.07.png?raw=true);
  background-size: cover;
  opacity: 0.8;
  animation: popup 5s forwards;
  z-index: -4;
  background-attachment: fixed;
}

.life__ul h1{
  font-size:40px;
  text-align:center;
  margin:0;
  padding:50px;
  text-shadow:2px 2px 2px rgb(137, 137, 148)
}

.life__ul{
  list-style: none;

  margin:0 auto;
  height:1250px;
  font-weight: bold;
}

.life__ul li{
  border-bottom:1px solid rgba(242, 236, 236, 0.681);
  margin-right:0;
  
}

.life__ul p{
  padding:30px;
  width:80%; 
  margin:0 auto;
}
 .portfolio{
    height:500px;

  }
 
  .portfolio h1{
  font-size:40px;
  text-align:center;
  margin-top:50px;
  padding:50px;
  text-shadow:2px 2px 2px rgb(137, 137, 148)
  }


.portfolio img{
  border:1px solid #000
}

.portfolio__img{
text-align:center;
}

.portfolio__p{
  margin-top:0;
  margin-bottom:0;
}

#contact{
  font-size:40px;
  text-align:center;
  margin:0;
  padding:50px;
  text-shadow:1px 1px rgb(5, 5, 5)
}

.contact{
  height:600px;
  
  text-align:center;
}

.contact__mail{
  text-align:center;
  margin:0 auto;
}

.contact__link{
  background-color:skyblue;
  cursor: pointer;
  padding:5px;
  width:70px;
  margin:0 auto;
  color: orange;
  box-shadow:3px 3px rgb(158, 143, 143);
  border-radius:6px;
  
}

.contact__link:active{
  position: relative;
  top:3px;
  box-shadow:none;
}


.contact__mail img{
border-radius: 50%;

}

footer{
  background-color: skyblue;
  height:100px;
  text-align:center;
  padding-top:20px;
  padding-bottom:20px;
 
}
.footer__ul li{
  list-style:none;
  display:flex;
  display: inline;
  padding: 20px;
  
}
.footer__ul{
  padding-left:0;
}

footer p{
  margin-top:20px;
  opacity:.7;
  font-size:10px;
}

.far {
  margin-right:10px;
}
.fas {
  margin-right:10px;
}

@media (max-width: 600px){
body{
  width:;

 
}
.header__link li{
  display: inline;
  padding: 10px;
}
.top{
  height:400px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.top h1{
  font-size:30px;

}

.top p{
  font-size:20px;
}

main{
  height:600px;
 
}


.container__profile{
margin:50px;
}

.container__img{
margin:0 auto 50px;


}
.container__box{
  flex-direction: column;
  justify-content: center;
  display:flex;
}

.container__table{
  justify-content: center;
  display:flex;
}


.container__table th{
  padding-left:0px;
  padding-right:0px;
  
 
}

.life{
  height:1600px;
}
.life li{
  font-size:15px;
}
}
